.index_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 5%;
}

.welcome {
    font-weight: 300;
    font-size: 35px;
}

.title_company {
    text-align: center;
    font-size: 65px;
    grid-column: 2;
}

.about {
    grid-column: 2/3;
    text-align: justify;
}


.cta_container {
    grid-column: 2;
}

.cta_store {
    display: inline-block;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    width: 400px;
    color: white;
    background-color: rgb(32, 80, 66);
    transition: 0.3s;
    -webkit-box-shadow: 3px 2px 65px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 65px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 65px -6px rgba(0, 0, 0, 0.75);

}

.cta_store:hover {
    opacity: 0.7;
}
